/*---- Base ----*/
body {
  font-family: "Fjalla One", "Helvetica", sans-serif;
  background-color: #f9fbfc;
}
body h3 {
  font-size: 0.9em;
}

.None {
  display: none;
}

.flux-header {
  color: #a2cdb8;
  margin: auto;
  text-align: center;
  max-width: 1084px;
  padding: 2%;
  border-top: #a2cdb8 solid 2px;
  border-bottom: #a2cdb8 solid 2px;
}
.flux-header h1, .flux-header a {
  margin: auto;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.flux {
  max-width: 1084px;
  margin: auto;
  padding: 2%;
  background-color: #f9fbfc;
}

.ticket-details {
  margin: 20px;
  border: #e1755e solid 2px;
  padding: 10px;
  display: grid;
  grid-template: 15% 15% 70%/15% 55% 30%;
}
.ticket-details .ticket-details__user {
  font-size: 12px;
  padding: 5px;
  grid-column: 3/span 1;
  grid-row: 1/span 1;
  background-color: #203961;
  color: #a2cdb8;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.ticket-details .ticket-details__user p {
  margin: 2px;
}
.ticket-details .ticket-details__time-created {
  font-size: 12px;
  padding: 5px;
  grid-column: 3/span 1;
  grid-row: 2/span 1;
  background-color: #203961;
  color: #a2cdb8;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.ticket-details .ticket-details__time-created p {
  margin: 2px;
}
.ticket-details .ticket-details__button {
  background-color: #a2cdb8;
  color: #f9fbfc;
  grid-column: 3/span 1;
  grid-row: 3/span 1;
  display: grid;
  grid-template-rows: 40% 20% 40%;
}
.ticket-details .ticket-details__button a {
  grid-row: 2/span 1;
}
.ticket-details .ticket-details__title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  grid-column: 1/span 2;
  grid-row: 1/span 2;
  background-color: #203961;
  color: #a2cdb8;
}
.ticket-details .ticket-details__title h2 {
  text-align: center;
  color: #a2cdb8;
}
.ticket-details .ticket-details__body {
  padding: 15px;
  grid-column: 2/span 1;
  grid-row: 3/span 1;
  background-color: #a2cdb8;
  color: #203961;
  overflow: auto;
}
.ticket-details .ticket-details__image {
  padding: 5px;
  background-color: #a2cdb8;
  color: #203961;
  grid-column: 1/span 1;
  grid-row: 3/span 2;
  overflow: hidden;
}
.ticket-details .ticket-details__image img {
  max-width: 100%;
  max-height: 100%;
}

.review-details {
  margin: 20px;
  min-height: 300px;
  display: grid;
  border: #a2cdb8 solid 2px;
  padding: 10px;
  grid-template: 15% 15% 70%/30% 40% 30%;
}
.review-details .review-details__user {
  font-size: 12px;
  padding: 5px;
  background-color: #362c20;
  color: #e1755e;
  grid-column: 3/span 1;
  grid-row: 1/span 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.review-details .review-details__user p {
  margin: 2px;
}
.review-details .review-details__time-created {
  font-size: 12px;
  padding: 5px;
  background-color: #362c20;
  color: #e1755e;
  grid-column: 3/span 1;
  grid-row: 2/span 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.review-details .review-details__time-created p {
  margin: 2px;
}
.review-details .review-details__rating {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #362c20;
  color: #e1755e;
  padding: 15px;
  grid-column: 1/span 1;
  grid-row: 1/span 2;
}
.review-details .review-details__headline {
  display: flex;
  align-items: center;
  background-color: #362c20;
  color: #e1755e;
  padding: 15px;
  grid-column: 2/span 1;
  grid-row: 1/span 2;
}
.review-details .review-details__body {
  background-color: #e1755e;
  color: #362c20;
  overflow: auto;
  padding: 15px;
  grid-column: 1/span 2;
  grid-row: 3/span 1;
}
.review-details .review-details__ticket {
  background-color: #a2cdb8;
  color: #203961;
  grid-column: 3/span 1;
  grid-row: 3/span 1;
  display: grid;
  grid-template-rows: 15% 15% 70%;
}
.review-details .review-details__ticket .review-details__ticket__user {
  grid-row: 1/span 1;
  text-align: center;
}
.review-details .review-details__ticket .review-details__ticket__title {
  grid-row: 2/span 1;
  text-align: center;
}
.review-details .review-details__ticket .review-details__ticket__image {
  grid-row: 3/span 1;
  margin: auto;
}
.review-details .review-details__ticket .review-details__ticket__image img {
  padding: 5px;
  max-height: 90px;
}

.rating {
  width: 226px;
  margin: 0 auto 1em;
  font-size: 45px;
  overflow: hidden;
}
.rating input {
  float: right;
  opacity: 0;
  position: absolute;
}
.rating a, .rating label {
  float: right;
  color: #aaa;
  text-decoration: none;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}
.rating label:hover ~ label,
.rating input:focus ~ label,
.rating label:hover,
.rating a:hover,
.rating a:hover ~ a,
.rating a:focus,
.rating a:focus ~ a {
  color: orange;
  cursor: pointer;
}

/* forms */
section {
  max-width: 1084px;
  border: solid #e1755e;
  padding: 15px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}
section h2 {
  color: #203961;
  padding-left: 30px;
}
section table {
  margin-left: 5%;
  font-size: 14px;
  color: #362c20;
  font-weight: bold;
  border-spacing: 5px;
}
section table td:nth-child(odd) {
  width: 100px;
}
section table tr {
  height: 40px;
}

.ticket-form, .review-form {
  border: solid #a2cdb8;
  margin: 10px;
}

.entry {
  padding: 10px;
}
.entry .entry__label {
  color: #203961;
  font-weight: bold;
  padding: 10px;
}
.entry .entry__input input, .entry .entry__input textarea {
  width: 90%;
  padding: 10px;
  font-family: "Fjalla One", "Helvetica", sans-serif;
}
.entry .entry__radio-input ul {
  width: 60%;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.entry .entry__input-button {
  display: flex;
}
.entry .entry__input-button .input {
  width: 60%;
  padding: 10px;
}
.entry .entry__input-button .button {
  margin: auto;
  padding: 10px;
}

@media all and (min-width: 850px) {
  .review-details .ticket-details {
    min-height: 300px;
  }
}
@media all and (max-width: 850px) {
  h1 {
    font-size: 1.1em;
  }

  h2 {
    font-size: 1.1em;
  }

  h3 {
    font-size: 0.8em;
  }

  p {
    font-size: 0.8em;
  }

  .review-details__ticket {
    max-width: 100%;
  }
  .review-details__ticket h3 {
    font-size: 0.8em;
  }
}
@-moz-document url-prefix() {
  .ticket-details .ticket-details__body {
    min-height: 230px;
  }
}

/*# sourceMappingURL=style.css.map */
