/*---- Base ----*/
$color1: #f9fbfc;
$color2: #203961;
$color3: #a2cdb8;
$color4: #e1755e;
$color5: #5d554b;


body {
    font-family: 'Fjalla One', 'Helvetica',sans-serif;
}

header{
    max-width: 1084px;
    height: 100px;
    margin:auto;
    display: grid;
    background-color: $color1;
    color: $color2;
    font-weight: bold;
    padding-left: 2%;
    padding-right: 2%;
    grid-template: 40% 20% 40% / 10% 60% 15% 15%;
    img {
        grid-column: 1 / span 1;
        grid-row: 1 / span 3;
        height: 100%;
    }
    nav {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
        ul {
            display: grid;
            grid-template-columns: 30% 30% 30%;
            
            list-style:none;
            margin:0;
            padding-left:0;
            li {
                text-align: center;
            }
        }
    }
    .hello {
        grid-column: 3 / span 1;
        grid-row: 2 / span 1;
    }
    .logout {
        grid-column: 4 / span 1;
        grid-row: 2 / span 1;
    }
}
input.button {
    display: block;
    color:$color1;
    background-color: $color4;
    margin: auto;
    border-radius: 15px;
    padding: 10px;
}

.button {
    button {
    display: block;
    color:$color1;
    background-color: $color4;
    margin: auto;
    border-radius: 15px;
    padding: 10px;
    }
}

.button2 {
    button {
        display: block;
        border: $color2;
        color:$color1;
        background-color: $color3;
        font-weight: bold;
        margin: auto;
        padding: 10px;
    }
}

a {
    text-decoration:none; 
    color: $color2;
}