{% extends 'review/base.html' %}
{% load static %}
{% block addcss %}
    <link rel="stylesheet" href="{% static 'review/css/style.css'%}">
{% endblock %}
{% block content %}
    <div class="flux-header">
        <h1>Créer une critique</h1>
    </div>
    <div class="flux">
        <section>
            <div>
                <h3>Vous êtes en train de poster en réponse à</h3>
            </div>
            {% include 'review/ticket.html' %}
        </section>
        <section>
            <form method="POST">
                {% csrf_token %}
                <div class="entry">
                    <div class="entry__label"><h3>Note :</h3> </div>
                    <div class="entry__radio-input"> {{ form.rating }} </div>
                </div>
                <div class="entry">
                    <div class="entry__label"><h3>Titre de votre critique :</h3></div>
                    <div class="entry__input"> {{ form.headline }} </div>
                </div>
                <div class="entry">
                    <div class="entry__label"><h3>La critique :</h3> </div>
                    <div class="entry__input"> {{ form.body }} </div>
                </div>
                <div class="entry None">
                    <div class="entry__label"> {{ form.ticket.label }} </div>
                    <div class="entry__input"> {{ form.ticket }} </div>
                </div>
                <div class="entry None">
                    <div class="entry__label"> {{ form.user.label }} </div>
                    <div class="entry__input"> {{ form.user }} </div>
                </div>
                <input type="submit" class="button"/>
            </form>
            {{ form.errors }}
        </section>
    </div>
{% endblock %}