{% extends 'review/base.html' %}

{% load static %}

{% block addcss %}
    <link rel="stylesheet" href="{% static 'review/css/style.css'%}">
{% endblock %}

{% block content %}
    <div class="flux-header">
        <h1>Demander une critique</h1>
    </div>
    <div class="flux">
        <section>
            <form enctype="multipart/form-data" method="POST" novalidate class="newform">
                {% csrf_token %}
                <div class="entry">
                    <div class="entry__label"><h3>Titre de l'oeuvre - Auteur : </h3></div>
                    <div class="entry__input"> {{ form.title }} </div>
                </div>
                <div class="entry">
                    <div class="entry__label"><h3>Votre demande : </h3></div>
                    <div class="entry__input"> {{ form.description }} </div>
                </div>
                <div class="entry">
                    <div class="entry__label"><h3>Ajouter une image :</h3></div>
                    <div class="entry__input">
                        {% if form.instance.image.name %}
                            <table>
                                <tr><td><p>Actuellement :</p></td><td><a href="/media/{{form.instance.image.name}}">{{form.instance.image.name}}</a></td></tr>
                                <tr><td><label for="image-clear_id">Effacer :</label></td><td><input type="checkbox" name="image-clear" id="image-clear_id"></td></tr>
                                <tr><td><p>Modifier :</p></td><td><input type="file" name="image" accept="image/*" id="id_image"></td></tr>
                            </table>
                        {% else %}
                            {{ form.image }}
                        {% endif %}
                    </div>
                </div>
                <div class="entry">
                    <div class="entry__label None"> {{ form.user.label }} </div>
                    <div class="entry__input None"> {{ form.user }} </div>
                </div>
                <input type="submit" class="button" name="Create ticket">
            </form>
        </section>
    </div>
{% endblock %}