{% extends 'review/base.html' %}
{% load static %}
{% block addcss %}
    <link rel="stylesheet" href="{% static 'review/css/style.css'%}">
{% endblock %}
{% block content %}
<div class="flux-header">
    <h1>Mes abonnements</h1>
</div>
<div class="flux">
    <section>
        <h2>Suivre d'autres utilisateurs</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="entry">
                <div class="entry__input-button">
                    <input type="text" placeholder="Nom d'utilisateur" name="new_followed_user" class="input">
                    <input type="submit" name="new_followed" class='button'>
                </div>
            </div>
        </form>
    </section>
    <section>
        <h2>Abonnements</h2>
        <table>
        {% if followed_users %}
            {% for followed_user in followed_users %} 
                <tr><td> {{ followed_user }} </td><td><a href="{% url 'deletefollow' id_followed_user=followed_user.pk %}" class='button'>Se désabonner</a></td></tr>
            {% endfor %}
        {% else %}
            <tr><td>Aucun utilisateur suivi</td></tr>
        {% endif %}
        </table>
    </section>
    <section>
        <h2>Abonnés</h2>
        <table>
        {% if followers %}
            {% for follower in followers %} 
                <tr><td> {{ follower }} </td></tr>
            {% endfor %}
        {% else %}
            <tr><td>Aucun abonné</td></tr>
        {% endif %}
        </table>
    </section>
</div>
{% endblock %}