{% extends 'main.html' %}
{% load static %}
{% block addcss %}
    <link rel="stylesheet" href="{% static 'review/css/style.css'%}">
{% endblock %}
{% block content %}
    <div class="flux-header">
        <h1>Créer une critique</h1>
    </div>
    <div class="flux">
        <section>
            <div>
                <p>Vous êtes en train de poster en réponse à</p>
            </div>
            <div class="ticket">
            </div>
        </section>
        <section>
            <form method="POST" action="">
                {% csrf_token %}
                <div class="entry">
                    <div class="entry__label"> {{ form.rating.label }} </div>
                    <div class="entry__input"> {{ form.rating }} </div>
                </div>
                <div class="entry">
                    <div class="entry__label"> {{ form.headline.label }} </div>
                    <div class="entry__input"> {{ form.headline }} </div>
                </div>
                <div class="entry">
                    <div class="entry__label"> {{ form.body.label }} </div>
                    <div class="entry__input"> {{ form.body }} </div>
                </div>
                <div class="entry None">
                    <div class="entry__label"> {{ form.ticket.label }} </div>
                    <div class="entry__input"> {{ form.ticket }} </div>
                </div>
                <div class="entry None">
                    <div class="entry__label"> {{ form.user.label }} </div>
                    <div class="entry__input"> {{ form.user }} </div>
                </div>
                <input type="submit" class="button"/>
            </form>
            {{ form.errors }}
        </section>
        </div
    </div>
{% endblock %}