{% extends 'main.html' %}
{% load static %}
{% block addcss %}
    <link rel="stylesheet" href="{% static 'review/css/style.css'%}">
{% endblock %}
{% block content %}
    <div class="flux-header">
        <h1>Demander une critique</h1>
    </div>
    <div class="flux">
        <section>
            <form method="POST" action="" class="newform">
                {% csrf_token %}
                <div class="entry">
                    <div class="entry__label"><h3>Titre de l'oeuvre - Auteur : </h3></div>
                    <div class="entry__input"> {{ form.title }} </div>
                </div>
                <div class="entry">
                    <div class="entry__label"><h3>Votre demande : <h3></div>
                    <div class="entry__input"> {{ form.description }} </div>
                </div>
                <div class="entry">
                    <div class="entry__label"><h3>Ajouter une image :</h3></div>
                    <div class="entry__input"> {{ form.image }} </div>
                </div>
                <div class="entry">
                    <div class="entry__label None"> {{ form.user.label }} </div>
                    <div class="entry__input None"> {{ form.user }} </div>
                </div>
                <input type="submit" class="button" name="Create ticket">
            </form>
        </section>
    </div>
{% endblock %}