{% extends 'main.html' %}
{% block content %}
    <div class="buttons">
        <a href="{% url 'addticket' %}"><button>Demander une critique</button></a>
        <a href=""><button>Créer une critique</button></a>
    </div>
    <div class='flux'>
        {% for post in posts %}
            {% if post.content_type == 'TICKET' %}
                {% include 'ticket.html' %}
            {% elif post.content_type == 'REVIEW' %}
                {% include 'review.html' %}
            {% endif %}
        {% endfor %}
        <button>Voir plus</button>

    </div>
{% endblock %}