{% extends 'main.html' %}
{% load static %}
{% block addcss %}
    <link rel="stylesheet" href="{% static 'review/css/style.css'%}">
{% endblock %}
{% block content %}
    <div class="buttons">
        <a href="{% url 'addticket' %}"><button class="button2">Demander une critique</button></a>
        <a href=""><button class="button2">Créer une critique</button></a>
    </div>
    <div class='flux'>
        {% for post in posts %}
            {% if post.type == 'TICKET' %}
                {% include 'ticket.html' %}
            {% elif post.type == 'REVIEW' %}
                {% include 'review.html' %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}