{% extends 'main.html' %}
{% block content %}
    <div class="buttons">
        <button>Demander une critique</button>
        <button>Créer une critique</button>
    </div>
    <div class='flux'>
        {% for article in articles %}
            {% if article %}
                {% if article.type %}
                    <div class='ticket-details'>
                        <div class='ticket-details__user'>
                            {{ article.content.user }}
                        </div> 
                        <div class='ticket-details__time-created'>
                            {{ article.content.time_created }}
                        </div>
                        <div class='ticket-details__title'>
                            {{ article.content.title }}
                        </div>
                        <div class='ticket-details__body'>
                            {{ article.content.body }}
                        </div>
                        <div class='ticket-details__image'>
                            {{ article.content.image }}
                        </div>
                        {% if article %}
                            <button>Créer une critique</button>
                        {% endif %}
                    </div>
                {% else %}
                    <div class='review-details'>
                        <div class='ticket-details__user'>
                            {{ article.content.user }}
                        </div> 
                        <div class='ticket-details__time-created'>
                            {{ article.content.time_created }}
                        </div>
                        <div class='ticket-details__headline'>
                            {{ article.content.headline }}
                        </div>
                        <div class='ticket-details__rating'>
                            {{ article.content.rating }}
                        </div>
                        <div class='ticket-details__body'>
                            {{ article.content.body }}
                        </div>
                        <div class='ticket-details__ticket'>
                            <div class='ticket-details__ticket__user'>
                                {{ article.content.ticket.user }}
                            </div> 
                            <div class='ticket-details__ticket__title'>
                                {{ article.content.ticket.title }}
                            </div>
                            <div class='ticket-details__ticket__body'>
                                {{ article.content.ticket.body }}
                            </div>
                            <div class='ticket-details__ticket__image'>
                                {{ article.content.ticket.image }}
                            </div>
                        </div>
                        {% if article %}
                            <button>Créer une critique</button>
                        {% endif %}
                    </div>
                {% endif %}
            <button>Voir plus</button>
            {% else %}
                <p>Base de donnée vide</p>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}