{% extends 'main.html' %}
{% load static %}
{% block addcss %}
    <link rel="stylesheet" href="{% static 'review/css/style.css'%}">
{% endblock %}
{% block content %}
<div class="flux-header">
    <h1>Mes abonnements</h1>
</div>
<div class="flux">
    <div class="follow">
        <h2>Suivre d'autres utilisateurs</h2>
        <form method="POST">
            {% csrf_token %}
            <input type="text" placeholder="Nom d'utilisateur" name="new_followed_user">
            <input type="submit" name="new_followed" class='button'>
        </form>
    </div>
    <div class="followed">
        <h2>Abonnements</h2>
        {% if followed_users %}
        <table>
            {% for followed_user in followed_users %} 
                <tr><td> {{ followed_user }} </td><td><a href="" class='button'><button>Se désabonner</button></a></td></tr>
            {% endfor %}
        </table>
        {% else %}
            <p>Aucun utilisateur suivi</p>
        {% endif %}
    </div>
    <div class="followers">
        <h2>Abonnés</h2>
        {% if followers %}
        <table>
            {% for follower in followers %} 
                <tr><td> {{ follower }} </td></tr>
            {% endfor %}
        </table>
        {% else %}
            <p>Aucun abonné</p>
        {% endif %}
    </div>
</div>
{% endblock %}