{% extends 'main.html' %}
{% block content %}
<header>
    <h1>Mes abonnements</h1>
</header>
<div class="content">
    <div class="follow">
        <h2>Suivre d'autres utilisateurs</h2>
        <form method="POST">
            {% csrf_token %}
            <input type="text" placeholder="Nom d'utilisateur" name="new_followed_user">
            <input type="submit" name="new_followed">
        </form>
    </div>
    <div class="followed">
        <h2>Abonnements</h2>
        {% if followed_users %}
        <table>
            {% for followed_user in followed_users %} 
                <tr><td> {{ followed_user }} </td><td><button>Se désabonner</button></td></tr>
            {% endfor %}
        </table>
        {% else %}
            <p>Aucun utilisateur suivi</p>
        {% endif %}
    </div>
    <div class="followers">
        <h2>Abonnés</h2>
        {% if followers %}
        <table>
            {% for follower in followers %} 
                <tr><td> {{ follower }} </td></tr>
            {% endfor %}
        </table>
        {% else %}
            <p>Aucun abonné</p>
        {% endif %}
    </div>
</div>
{% endblock %}