{% extends 'main.html' %}
{% load static %}
{% block addcss %}
    <link rel="stylesheet" href="{% static 'review/css/style.css'%}">
{% endblock %}
{% block content %}
<div class="flux-header">
    <h1>Mes posts</h1>
</div>
<div class="flux">
    {% for post in posts %}
        {% if post.type == 'TICKET' %}
            {% include 'ticket.html' %}
            <div class="buttons">
                <a href='{% url "modifyticket" id_ticket=post.content.id %}' class="button"><button>Modifier</button></a>
                <a href='{% url "deleteticket" id_ticket=post.content.id %}' class="button"><button>Supprimer</button></a>
            </div>
        {% elif post.type == 'REVIEW' %}
            {% include 'review.html' %}
            <div class="buttons">
                <a href='{% url "modifyreview" id_review=post.content.id %}' class="button"><button>Modifier</button></a>
                <a href='{% url "deletereview" id_review=post.content.id %}' class="button"><button>Supprimer</button></a>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}