<div class='review-details'>
    <div class='review-details__user'>
        {% if post.content.user == request.user %}
            <p>Vous avez publié une critique :</p>
        {% else %}
            <p>{{ post.content.user }} a publié une critique :</p>
        {% endif %}
    </div> 
    <div class='review-details__time-created'>
        <p>{{ post.content.time_created }}</p>
    </div>
    <div class='review-details__headline'>
        <h2>{{ post.content.headline }}</h2>
    </div>
    <div class='review-details__rating'>
        <p>{{ post.content.rating }}</p>
    </div>
    <div class='review-details__body'>
        <p>{{ post.content.body }}</p>
    </div>
    <div class='review-details__ticket'>

    </div>
</div>