<div class='review-details'>
    <div class='review-details__user'>
        {% if post.content.user == request.user %}
            <p>Vous avez publié une critique :</p>
        {% else %}
            <p>{{ post.content.user }} a publié une critique :</p>
        {% endif %}
    </div> 
    <div class='review-details__time-created'>
        {{ post.content.time_created }}
    </div>
    <div class='review-details__headline'>
        {{ post.content.headline }}
    </div>
    <div class='review-details__rating'>
        {{ post.content.rating }}
    </div>
    <div class='review-details__body'>
        {{ post.content.body }}
    </div>
    <div class='review-details__ticket'>
        <div class='review-details__ticket__user'>
            {{ post.content.ticket.user }}
        </div> 
        <div class='review-details__ticket__title'>
            {{ post.content.ticket.title }}
        </div>
        <div class='review-details__ticket__body'>
            {{ post.content.ticket.body }}
        </div>
        <div class='review-details__ticket__image'>
            {{ post.content.ticket.image }}
        </div>
    </div>
</div>