<div class='ticket-details'>
    <div class='ticket-details__user'>
        {{ post.content.user }}
    </div> 
    <div class='ticket-details__time-created'>
        {{ post.content.time_created }}
    </div>
    <div class='ticket-details__title'>
        {{ post.content.title }}
    </div>
    <div class='ticket-details__body'>
        {{ post.content.body }}
    </div>
    <div class='ticket-details__image'>
        {{ post.content.image }}
    </div>
    {% if post.content.id %}
        <a href='{% url "addreview" id_ticket=post.content.id %}'><button>Créer une critique</button></a>
    {% endif %}
</div>