<div class='ticket-details'>
    <div class='ticket-details__user'>
        {% if post.content.user == request.user %}
            <p>Vous avez demandé une critique :</p>
        {% else %}
            <p>{{ post.content.user }} a demandé une critique :</p>
        {% endif %}
    </div>
    <div class='ticket-details__time-created'>
        {{ post.content.time_created }}
    </div>
    <div class='ticket-details__title'>
        {{ post.content.title }}
    </div>
    <div class='ticket-details__body'>
        {{ post.content.body }}
    </div>
    <div class='ticket-details__image'>
        {{ post.content.image }}
    </div>
    {% if not post.content.answered and post.content.id %}
        <a href='{% url "addreview" id_ticket=post.content.id %}'><button class="button">Créer une critique</button></a>
    {% endif %}
</div>