$color1: #f9fbfc;
$color2: #203961;
$color3: #a2cdb8;
$color4: #e1755e;
$color5: #5d554b;

body {
    font-family: 'Fjalla One', 'Helvetica',sans-serif;
}

.flux{
    display: flex;
    flex-direction: row;
    justify-content: center;
    .createaccount, .login-box {
        background-color: $color2;
        color:$color3;
        border:$color3 5px solid;
    }
    .register {
        background-color: $color3;
        color:$color2;
        border:$color2 5px solid;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    .createaccount, .login-box, .register {
        width: 300px;
        padding: 2%;
        border-radius: 5px;
        h1 {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            padding: 2%;
            margin-bottom: 15px;
        }
        form{
            .entry {
                margin: auto;
                padding: 10px;
                width: 230px;
                .entry__label {
                    padding: 5px;
                }
                .entry__input {
                    padding: 5px;
                    input{
                        width: 220px;
                    }
                }
            }
        }
        .errors {
            color:$color5;
            background-color: $color4;
            border-radius: 5px;
            padding: 10px;
            margin: 10px;
        }
        .return {
            color:$color5;
            background-color: $color3;
            border-radius: 5px;
            padding: 10px;
            margin: 10px;
        }
        a{
            text-decoration: none;
        }
        input {
            font-family: 'Fjalla One', sans-serif;
        }
    }
}
