{% extends 'main.html' %}
{% block content %}
<div>
    <h1>Connectez vous :</h1>
    <div class="login-box">
        <form method="POST" action="">
            {% csrf_token %}
            <div class="username">
                <div class="username__label"> <label> Nom d'utilisteur </label> </div>
                <div class="username__input"> <input type="text" name="username"> </div>
            </div>
            <div class="password1">
                <div class="password1__label"> <label> Mot de passe </label> </div>
                <div class="password1__input"> <input type="password" name="password"> </div>
            </div>
            <input type="submit" name="Log in" value="Se connecter">
        </form> 
    </div>
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
</div>
<div>
    <p>Vous n'avez pas de compte : <a href="{% url 'account' %}"> Créer votre compte </a> </p>
</div>
{% endblock %}
