/*---- Base ----*/
$color1: #f9fbfc;
$color2: #203961;
$color3: #a2cdb8;
$color4: #e1755e;
$color5: #362c20;

body {
    font-family: 'Fjalla One', 'Helvetica',sans-serif;
    background-color: $color1;
    h3 {
        font-size: 0.9em;
    }
}

.None {
    display: none;
}

.flux-header{
    color: $color3;
    margin: auto;
    text-align: center;
    max-width: 1084px;
    padding: 2%;
    border-top: $color3 solid 2px;
    border-bottom: $color3 solid 2px;
    h1, a {
        margin: auto;
    }
}

.buttons {
    display: flex;
    justify-content: space-around;
}
.flux {
    max-width: 1084px;
    margin: auto;
    padding: 2%;
    background-color: $color1 ;
}

.ticket-details {
    margin: 20px;
    border: $color4 solid 2px;
    padding: 10px;
    display: grid;
    grid-template: 15% 15% 70% / 15% 55% 30%;
    .ticket-details__user{
        font-size: 12px;
        padding: 5px;
        grid-column: 3 / span 1;
        grid-row: 1 / span 1;
        background-color: $color2;
        color: $color3;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        p{
            margin: 2px;
        }
    }
    .ticket-details__time-created{
        font-size: 12px;
        padding: 5px;
        grid-column: 3 / span 1;
        grid-row: 2 / span 1;
        background-color: $color2;
        color: $color3;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        p{
            margin: 2px;
        }
    }
    .ticket-details__button{
        background-color: $color3;
        color: $color1;
        grid-column: 3 / span 1;
        grid-row: 3 / span 1;
        display: grid;
        grid-template-rows: 40% 20% 40%;
        a {
            grid-row: 2 / span 1;
        }
    }
    .ticket-details__title{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
        background-color: $color2;
        color: $color3;
        h2 {
            text-align: center;
            color: $color3;
        }
    }
    .ticket-details__body{
        padding: 15px;
        grid-column: 2 / span 1;
        grid-row: 3 / span 1;
        background-color: $color3;
        color: $color2;
        overflow: auto;
    }


    .ticket-details__image{
        padding: 5px;
        background-color: $color3;
        color: $color2;
        grid-column: 1 / span 1;
        grid-row: 3 / span 2;
        overflow: hidden;
        img{
            max-width: 100%;
            max-height: 100%;
        }
    }
}

.review-details {
    margin: 20px;
    min-height: 300px;
    display: grid;
    border: $color3 solid 2px;
    padding: 10px;
    grid-template: 15% 15% 70% / 30% 40% 30%;
    .review-details__user{
        font-size: 12px;
        padding: 5px;
        background-color: $color5;
        color: $color4;
        grid-column: 3 / span 1;
        grid-row: 1 / span 1;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        p{
            margin: 2px;
        }
    }
    .review-details__time-created{
        font-size: 12px;
        padding: 5px;
        background-color: $color5;
        color: $color4;
        grid-column: 3 / span 1;
        grid-row: 2 / span 1;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        p{
            margin: 2px;
        }
    }
    .review-details__rating{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color5;
        color: $color4;
        padding: 15px;
        grid-column: 1 / span 1;
        grid-row: 1 / span 2;
    }
    .review-details__headline{
        display: flex;
        align-items: center;
        background-color: $color5;
        color: $color4;
        padding: 15px;
        grid-column: 2 / span 1;
        grid-row: 1 / span 2;
    }
    .review-details__body{
        background-color: $color4;
        color: $color5;
        overflow: auto;
        padding: 15px;
        grid-column: 1 / span 2;
        grid-row: 3 / span 1;
    }
    .review-details__ticket{
        background-color: $color3;
        color: $color2;
        grid-column: 3 / span 1;
        grid-row: 3 / span 1;
        display: grid;
        grid-template-rows: 15% 15% 70%;
        .review-details__ticket__user{
            grid-row: 1 / span 1;
            text-align: center;
        }
        .review-details__ticket__title{
            grid-row: 2 / span 1;
            text-align: center;
        }
        .review-details__ticket__image{
            grid-row: 3 / span 1;
            margin: auto;
            
            img {
                padding: 5px;
                max-height: 90px;
            }
        }
    }
}



.rating {
    width: 226px;
    margin: 0 auto 1em;
    font-size: 45px;
    overflow:hidden;
    input {
        float: right;
        opacity: 0;
        position: absolute;
    }
    a, label {
        float:right;
    color: #aaa;
    text-decoration: none;
    -webkit-transition: color .4s;
    -moz-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s;
    }

    label:hover ~ label,
    input:focus ~ label,
    label:hover,
    a:hover,
    a:hover ~ a,
    a:focus,
    a:focus ~ a		{
       color: orange;
       cursor: pointer;
   }
}

 /* forms */

 section{
    max-width: 1084px;
    border: solid $color4;
    padding: 15px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    h2 {
        color: $color2;
        padding-left: 30px;
    }
    table {
        margin-left: 5%;
        font-size: 14px;
        color: $color5;
        font-weight: bold;
        border-spacing: 5px;
        td:nth-child(odd) {
            width: 200px;
        }
        tr{
            height: 40px;
        }
    }
 }

 .ticket-form, .review-form{
    border: solid $color3;
    margin: 10px;
 }

.entry{
    padding: 10px;
    .entry__label{
        color: $color2;
        font-weight: bold;
        padding: 10px;
    }
    .entry__input{
        input, textarea {
            width: 90%;
            padding: 10px;
            font-family: 'Fjalla One', 'Helvetica',sans-serif;
        }
    }
    .entry__radio-input{
        ul {
            width: 60%;
            list-style-type: none;
            display:flex;
            justify-content: space-between;
        }
    }
    .entry__input-button{
        display: flex;
        .input {
            width: 60%;
            padding: 10px;
        }
        .button{
            margin: auto;
            padding: 10px;
        }
    }
 }

@media all and (min-width: 850px) {
    .review-details .ticket-details {
    min-height: 300px;
    }
}

@media all and (max-width: 850px) {
    h1{
        font-size: 1.1em;
    }
    h2 {
        font-size: 1.1em;
    }
    h3 {
        font-size: 0.8em;
    }
    p{
        font-size: 0.8em;
    }
    .review-details__ticket{
        max-width: 100%;
        h3{
            font-size: 0.8em;
        }
    }

    .ticket-details__button{
        a {
            font-size: 10px;
        }
    }
}

@-moz-document url-prefix() {
    .ticket-details {
        .ticket-details__body{
            min-height: 230px;
        }
    }
} 