{% extends 'main.html' %}
{% load static %}
{% block addcss %}
    <link rel="stylesheet" href="{% static 'review/css/style.css'%}">
{% endblock %}
{% block content %}
    <div class="buttons flux-header">
        <a href="{% url 'addticket' %}" class="button2"><button>Demander une critique</button></a>
        <a href="{% url 'addticketreview' %}" class="button2"><button>Créer une critique</button></a>
    </div>
    <div class='flux'>
        {% if posts %}
            {% for post in posts %}
                {% if post.type == 'TICKET' %}
                    {% include 'review/ticket.html' %}
                {% elif post.type == 'REVIEW' %}
                    {% include 'review/review.html' %}
                {% endif %}
            {% endfor %}
        {% else %}
            <h2> Aucun abonnement </h2>
            <p>Pour débuter aller dans la rubrique abonnements</p>
        {% endif %}
    </div>
{% endblock %}